<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          {{dialogTitle}}
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="holidayForm" (ngSubmit)="submit">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Employee</mat-label>
            <mat-select formControlName="employee" required>
              @for(employee of employees; track employee){
                <mat-option [value]="employee">
                  {{employee.nom}}
                </mat-option>
              }
            </mat-select>
            @if (holidayForm.get('employee')?.hasError('required')) {
            <mat-error>
              Employee is required
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="startDate" formControlName="dateDebut">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
            @if (holidayForm.get('date_f')?.hasError('required')) {
            <mat-error>
              Please select date
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateFin">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (holidayForm.get('date_f')?.hasError('required')) {
            <mat-error>
              Please select date
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type" required>
              <mat-option [value]="'CDI'">
                CDI
              </mat-option>
              <mat-option [value]="'CVP'">
                CVP
              </mat-option>
              <mat-option [value]="'CDD'">
                CDD
              </mat-option>
            </mat-select>
            @if (holidayForm.get('type')?.hasError('required')) {
            <mat-error>
              Type is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Location</mat-label>
            <input matInput formControlName="location" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>place</mat-icon>
            @if (holidayForm.get('location')?.hasError('required')) {
            <mat-error>
              Location is required
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Shift</mat-label>
            <input matInput formControlName="shift" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>checklist</mat-icon>
            @if (holidayForm.get('shift')?.hasError('required')) {
            <mat-error>
              Shift is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>details</mat-label>
            <textarea matInput formControlName="details"></textarea>
          </mat-form-field>
        </div>
      </div> -->
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row" align="end">
            <button mat-raised-button color="primary" [disabled]="!holidayForm.valid" [mat-dialog-close]="1"
              (click)="confirmAdd()">Save</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>